* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'monsterrat', sans-serif;
  background-image: url('assets/movieHub/streamMan.jpg');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

header {
  padding: 50px 25px 0px;
}

header h1 {
  color: white;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

header h4 {
  color: white;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

section {
  padding: 15px;
}

main {
  width: 100%;
  max-width: 968px;
  margin: 0 auto;
}

.alt {
  background: url('./assets/movieHub/imgNotAvailable.jpg');
}



